
@{
    ViewData["Title"] = "Index";
}

<script src="~/app.js"></script>

<h4>Short Response:</h4>
<p id="shortCallResponse"></p>

<h4>Long Response:</h4>
<p id="longCallResponse"></p>

<h4>Items in Session:</h4>
<p id="sessionListResponse"></p>